extends ./layout/_layout-admin.pug

block styles
  style.
    body {
      background: #eee;
    }
  //- style
//- block

block content
  
  section.admin
    .wrapper
      h3
        a.btn.btn-success.pull-right(href='')
          | Add New
        //- a
        | Accounts
      .admin-panel
        .row
          .col-md-3.nav-lvl-1
            aside.order-list
              .form-group.select
                select.form-control
                  option Active
                //- select
              //- form-group
              .form-group.search
                input.form-control(placeholder='Search...')
              //- form-group
              h5.visible-sm.visible-xs Account List
              .form-group.select.menu.visible-sm.visible-xs
                select.form-control
                  option(selected) Last name, First name
                  option Luzuriaga, Rodan
                //- select
              //- form-group
              .account-list.hidden-sm.hidden-xs
                .row.active
                  .col-xs-4
                    img.img-responsive(src="//doodledudes.github.io/portfolio/assets/images/me.jpg", width='200')
                  //- col
                  .col-xs-8
                    p.name
                      a(href="") Luzuriaga, Rodan
                    p rodan.luzuriaga@tooltwist.com
                    //- p
                    .text-muted Buyer
                  //- col
                //- row
                .row
                  .col-xs-4
                    img.img-responsive(src="//via.placeholder.com/200", width='200')
                  //- col
                  .col-xs-8
                    p.name
                      a(href="") Last name, First name
                    p email@email.com
                    //- p
                    .text-muted Buyer
                  //- col
                //- row
                .row
                  .col-xs-4
                    img.img-responsive(src="//via.placeholder.com/200", width='200')
                  //- col
                  .col-xs-8
                    p.name
                      a(href="") Last name, First name
                    p email@email.com
                    //- p
                    .text-muted Buyer
                  //- col
                //- row
              //- account-list
            //- aside
          //- col
          .col-md-9.nav-lvl-2.full
            // Nav tabs
            .form-group.select.menu.visible-sm.visible-xs
              select.form-control
                option(selected) Personal Information
                option Properties
                option Others
              //- select
            //- form-group
            ul.nav.nav-tabs.hidden-sm.hidden-xs(role='tablist')
              li.active
                a(href='#tabPersonalInformation', role='tab', data-toggle='tab') Personal Information
              //- li
              li
                a(href='#tabProperties', role='tab', data-toggle='tab') Properties
              //- li
              li
                a(href='#tabOthers', role='tab', data-toggle='tab') Others
              //- li
            //- ul
            .tab-content
              #tabPersonalInformation.tab-pane.active(role='tabpanel')
                .row
                  .col-md-3.col-xs-3
                    img.img-responsive(src="//doodledudes.github.io/portfolio/assets/images/me.jpg", width='200')
                  //- col
                  .col-md-9.col-xs-9
                    .row
                      .col-md-12
                        .form-group
                          h4 Rodan Luzuriaga
                        //- form-group
                      //- col
                    //- row
                    .row
                      .col-md-12
                        .form-group
                          label.text-muted Address
                          .form-control-static City, State PostCode
                        //- form-group
                      //- col
                    //- row
                    .row
                      .col-md-12
                        .form-group
                          label.text-muted UAC / Role
                          .form-control-static -
                        //- form-group
                      //- col
                    //- row
                  //- col
                //- row
                br
                .row
                  .col-md-6
                    textarea.form-control(rows='5', placeholder='Other details...')
                  //- col
                  .col-md-6
                    textarea.form-control(rows='5', placeholder='Other details...')
                  //- col
                //- row
              //- tab-pane
              #tabProperties.tab-pane(role='tabpanel') 
                
              //- tab-pane
              #tabOthers.tab-pane(role='tabpanel') 
                
              //- tab-pane
            //- tab-content
          //- col
        //- row
      //- admin-panel
    //- wrapper
  //- section

//- block content
