extends ./layout/_layout-admin.pug

block styles
  style.
    body {
      background: #eee;
    }
  //- style
//- block

block content
  
  section.admin
    .wrapper
      h3
        a.btn.btn-success.pull-right(href='')
          | Add New
        //- a
        | Process Workflow
      .admin-panel
        .row
          .col-md-3.nav-lvl-1
            h5.visible-sm.visible-xs Status
            .form-group.select.menu.visible-sm.visible-xs
              select.form-control
                option Preliminary
                option Contract
                option(selected) Inspection
                option Settlement
                option Title Transfer
                option Completion
              //- select
            //- form-group
            nav.hidden-sm.hidden-xs
              ul
                li
                  a(href="") Preliminary
                //- li
                li
                  a(href="") Contract
                //- li
                li
                  a.active(href="admin-process-ins.html") Inspection
                //- li
                li
                  a(href="") Settlement
                //- li
                li
                  a(href="") Title Transfer
                //- li
                li
                  a(href="") Completion
                //- li
              //- ul
            //- nav
          //- col
          .col-md-9.nav-lvl-2.full
            textarea.form-control(rows='5', placeholder='Other details...')
            br
            .panel.panel-default
              .panel-heading
                .panel-title
                  a.pull-right(href="")
                    i.fa.fa-plus
                  | Task
                //- panel-title
              //- .panel-heading
              .panel-body
                .list-group
                  .list-group-item Task 1
                  .list-group-item Task 2
                  .list-group-item Task 3
                  .list-group-item Task 4
                //- lis-group
              //- panel-body
            //- panel
          //- col
        //- row
      //- admin-panel
    //- wrapper
  //- section

//- block content
