extends ./layout/_layout-admin.pug

block styles
  style.
    body {
      background: #eee;
    }
  //- style
//- block

block content
  
  section.admin
    .wrapper
      h3 Dashboard
      .summary-row
        .dashboard-summary
          .col
            a.box(href="")
              span.number 65
            //- box
            span.lbl Open Job Orders
          //- col
          .col
            a.box(href="admin-joborders.html")
              span.number 1
            //- box
            span.lbl Preliminary
          //- col
          .col
            a.box(href="")
              span.number 20
            //- box
            span.lbl Contract
          //- col
          .col
            a.box(href="")
              span.number 12
            //- box
            span.lbl Inspection
          //- col
          .col
            a.box(href="")
              span.number 7
            //- box
            span.lbl Settlement
          //- col
          .col
            a.box(href="")
              span.number 18
            //- box
            span.lbl Title Transfer
          //- col
          .col
            a.box(href="")
              span.number 7
            //- box
            span.lbl Completion
          //- col
        //- dashboard-summary
      //- summary-row
    //- wrapper
  //- section

//- block content
