extends ./layout/_layout-page.pug

block styles
  style.
    header .navbar-default {
      background-color: #010c19;
    }
    footer, header {
      display: none;
    }
    body {
      background-color: #00111e;
    }
    section.page {
      padding-top: 20px;
    }
  //- style
//- block

block content
  
  section.page
    .container
      .row
        .col-md-4.col-md-offset-4
          a(href="index.html")
            img.logo-md(src="assets/images/logo-cvx.png")
          //- a
          br
          .card
            h2.lead Please enter your Email
            .form-group
              input.form-control(type="email", placeholder="Email")
            //- form-group
            a.btn.btn-success(href="resetpassword.html") Submit
          //- card
        //- col
      //- row
      
    //- container
  //- section

//- block content
