extends ./layout/_layout-page.pug

block styles
  style.
    header .navbar-default {
      background-color: #010c19;
    }
    footer, header {
      display: none;
    }
    body {
      background-color: #00111e;
    }
    section.page {
      padding-top: 20px;
    }
  //- style
//- block

block content
  
  section.page
    .container
      .row
        .col-md-8.col-md-offset-2
          a(href="index.html")
            img.logo-md(src="assets/images/logo-cvx.png")
          //- a
          br
          .card
            h2 Sign up 
              //-:&nbsp;
              //- strong Property Information
            //- h2
            br
            .row
              .form-group
                label.col-sm-2.control-label I am a
                .col-sm-10
                  .radio.cus-inline.cus
                    label
                      input#roundedcheckbox10(type='radio', name="userType", checked='')
                      span.fa.fa-check
                      | Seller
                    //- label
                  //- checkbox
                  .radio.cus-inline.cus
                    label
                      input#roundedcheckbox20(type='radio', name="userType")
                      span.fa.fa-check
                      | Buyer
                    //- label
                  //- checkbox
                //- col
              //- form-group
            //- row
            br
            .row
              .col-md-6
                .form-group
                  input.form-control(type="text", placeholder="Email Address")
                //- form-group
              //- col
              .col-md-6
                .form-group
                  input.form-control(type="text", placeholder="Phone Number")
                //- form-group
              //- col
            //- row
            .row
              .col-md-6
                .form-group
                  input.form-control(type="text", placeholder="First Name")
                //- form-group
              //- col
              .col-md-6
                .form-group
                  input.form-control(type="text", placeholder="Last Name")
                //- form-group
              //- col
            //- row
            .row
              .col-md-6
                .form-group
                  input.form-control(type="text", placeholder="Password")
                //- form-group
              //- col
              .col-md-6
                .form-group
                  input.form-control(type="text", placeholder="Confirm Password")
                //- form-group
              //- col
            //- row
            .row
              .col-md-12
                .form-group
                  textarea.form-control(row="5", placeholder="Property Details")
                //- form-group
              //- col
            //- row
            .row
              .col-md-12
                .form-group
                  input.form-control(type="text", placeholder="Property Address")
                //- form-group
              //- col
            //- row
            .row
              .col-md-4
                .form-group.select
                  select.form-control
                    option City
                  //- select
                //- form-group
              //- col
              .col-md-4
                .form-group.select
                  select.form-control
                    option State
                  //- select
                //- form-group
              //- col
              .col-md-4
                .form-group.select
                  select.form-control
                    option Post Code
                  //- select
                //- form-group
              //- col
            //- row
            .row
              .col-md-12
                .form-group.select
                  select.form-control
                    option Property Type
                  //- select
                //- form-group
              //- col
            //- row
            .form-group
              .checkbox
                label
                  input(type='checkbox')
                  |  I have read and accept the 
                  a(href='termsandconditions.html', target='_blank') terms and conditions
                  | .
                //- label
              //- checkbox
            //- form-group
            hr
            .text-right
              a.btn.btn-default(href="index.html") Cancel
              | &nbsp;
              a.btn.btn-primary(href="user-dashboard.html") Submit
            //- text-right
          //- card
        //- col
      //- row
    //- container
  //- section

//- block content
