extends ./layout/_layout-page.pug

block styles
  style.
    header .navbar-default {
      background-color: #010c19;
    }
  //- style
//- block

block content
  
  section.page
    .container
      h2 Terms &amp; Conditions
      p Te cillum quae ea constias, quo possumus hic laborum. Incurreret et noster consequat, ex e praetermissum, quis coniunctione singulis tempor singulis, aut do fidelissimae. Do e veniam quorum labore, ab culpa arbitrantur.In ut sint vidisse, et sunt tempor quo offendit. Eram constias de praesentibus, quibusdam si incididunt id qui sunt laboris, arbitror velit expetendis quo laboris minim aliqua incurreret dolor ut dolor quo iudicem, deserunt qui culpa laboris ex mandaremus enim non quibusdam comprehenderit. A fore deserunt. Ab ex philosophari.
      p Te cillum quae ea constias, quo possumus hic laborum. Incurreret et noster consequat, ex e praetermissum, quis coniunctione singulis tempor singulis, aut do fidelissimae. Do e veniam quorum labore, ab culpa arbitrantur.In ut sint vidisse, et sunt tempor quo offendit. Eram constias de praesentibus, quibusdam si incididunt id qui sunt laboris, arbitror velit expetendis quo laboris minim aliqua incurreret dolor ut dolor quo iudicem, deserunt qui culpa laboris ex mandaremus enim non quibusdam comprehenderit. A fore deserunt. Ab ex philosophari.
      p.lead Quo possumus hic laborum
      p Te cillum quae ea constias, quo possumus hic laborum. Incurreret et noster consequat, ex e praetermissum, quis coniunctione singulis tempor singulis, aut do fidelissimae. Do e veniam quorum labore, ab culpa arbitrantur.In ut sint vidisse, et sunt tempor quo offendit. Eram constias de praesentibus, quibusdam si incididunt id qui sunt laboris, arbitror velit expetendis quo laboris minim aliqua incurreret dolor ut dolor quo iudicem, deserunt qui culpa laboris ex mandaremus enim non quibusdam comprehenderit. A fore deserunt. Ab ex philosophari. Te cillum quae ea constias, quo possumus hic laborum. Incurreret et noster consequat, ex e praetermissum, quis coniunctione singulis tempor singulis, aut do fidelissimae. Do e veniam quorum labore, ab culpa arbitrantur.In ut sint vidisse, et sunt tempor quo offendit. Eram constias de praesentibus, quibusdam si incididunt id qui sunt laboris, arbitror velit expetendis quo laboris minim aliqua incurreret dolor ut dolor quo iudicem, deserunt qui culpa laboris ex mandaremus enim non quibusdam comprehenderit. A fore deserunt. Ab ex philosophari.
      p Te cillum quae ea constias, quo possumus hic laborum. Incurreret et noster consequat, ex e praetermissum, quis coniunctione singulis tempor singulis, aut do fidelissimae. Do e veniam quorum labore, ab culpa arbitrantur.In ut sint vidisse, et sunt tempor quo offendit. Eram constias de praesentibus, quibusdam si incididunt id qui sunt laboris, arbitror velit expetendis quo laboris minim aliqua incurreret dolor ut dolor quo iudicem, deserunt qui culpa laboris ex mandaremus enim non quibusdam comprehenderit. A fore deserunt. Ab ex philosophari.
      p.lead Laboris minim aliqua
      p Te cillum quae ea constias, quo possumus hic laborum. Incurreret et noster consequat, ex e praetermissum, quis coniunctione singulis tempor singulis, aut do fidelissimae. Do e veniam quorum labore, ab culpa arbitrantur.In ut sint vidisse, et sunt tempor quo offendit. Eram constias de praesentibus, quibusdam si incididunt id qui sunt laboris, arbitror velit expetendis quo laboris minim aliqua incurreret dolor ut dolor quo iudicem, deserunt qui culpa laboris ex mandaremus enim non quibusdam comprehenderit. A fore deserunt. Ab ex philosophari.
      p Te cillum quae ea constias, quo possumus hic laborum. Incurreret et noster consequat, ex e praetermissum, quis coniunctione singulis tempor singulis, aut do fidelissimae. Do e veniam quorum labore, ab culpa arbitrantur.In ut sint vidisse, et sunt tempor quo offendit. Eram constias de praesentibus, quibusdam si incididunt id qui sunt laboris, arbitror velit expetendis quo laboris minim aliqua incurreret dolor ut dolor quo iudicem, deserunt qui culpa laboris ex mandaremus enim non quibusdam comprehenderit. A fore deserunt. Ab ex philosophari.
      p Te cillum quae ea constias, quo possumus hic laborum. Incurreret et noster consequat, ex e praetermissum, quis coniunctione singulis tempor singulis, aut do fidelissimae. Do e veniam quorum labore, ab culpa arbitrantur.In ut sint vidisse, et sunt tempor quo offendit. Eram constias de praesentibus, quibusdam si incididunt id qui sunt laboris, arbitror velit expetendis quo laboris minim aliqua incurreret dolor ut dolor quo iudicem, deserunt qui culpa laboris ex mandaremus enim non quibusdam comprehenderit. A fore deserunt. Ab ex philosophari.
    //- container
  //- section

//- block content
