extends ./layout/_layout-user.pug

block styles
  style.
    body {
      background: #eee;
    }
  //- style
//- block

block content
  
  section.admin
    .wrapper
      h3 My Account
      .admin-panel
        .row
          .col-md-3.nav-lvl-1
            .form-group.select.menu.visible-sm.visible-xs
              select.form-control
                option(selected) My Profile
                option My Properties
                option Change Password
                option Log out
              //- select
            //- form-group
            nav.hidden-sm.hidden-xs
              ul
                li
                  a.active(href="user-account-mp.html") My Profile
                //- li
                li
                  a(href="user-account-mpr.html") My Properties
                //- li
                li
                  a(href="user-account-cp.html") Change Password
                //- li
                li
                  a(href="user-account-lo.html") Log out
                //- li
              //- ul
            //- nav
          //- col
          .col-md-9.nav-lvl-2.full
            .media
              .media-left
                a(href='#')
                  img.media-object(src='//doodledudes.github.io/portfolio/assets/images/me.jpg', alt='', width='100')
                //- a
              //- media-left
              .media-body
                h4.media-heading
                  | Rodan Luzuriaga&nbsp;
                  a(href='')
                    i.fa.fa-pencil
                  //- a
                //- h4
                br
                p rodan.luzuriaga@tooltwist.com
                p xxxx xxx xxxxx
                br
                textarea.form-control(rows='5', placeholder='Other details...')
              //- media-left
            //- media
          //- col
        //- row
      //- admin-panel
    //- wrapper
  //- section

//- block content
