footer
  .container
    p
      a(href="")
        i.fa.fa-linkedin-square.fa-2x
      //- a
    //- p
    p
      a(href="privacypolicy.html") Privacy Policy
      | &nbsp;&middot;&nbsp;
      a(href="termsandconditions.html") Terms &amp; Conditions
    //- p
    small
      p Copyright &copy; ConvX
      p
        span.version v0.01
      //- p
    //- small
  //- container
//- footer
