header
  nav.navbar.navbar-default
    .container
      .navbar-header
        button.collapsed.navbar-toggle(type='button', data-toggle='collapse', data-target='#convx-nav', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        //- button
        a.navbar-brand(href='index.html')
          img(src="assets/images/logo-cvx.png")
          | ConvX
        //- a
      //- navbar-header
      #convx-nav.collapse.navbar-collapse
        a.btn.btn-success.navbar-btn.navbar-right(href='signin.html') Sign in
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#section-aboutus') About Us
          //- li
          li
            a(href='#section-contactus') Contact Us
          //- li
          li
            a(href='#section-howitworks') How It Works
          //- li
        //- ul
      //- collapse
    //- container
  //- nav
//- footer
