aside.admin
  a.aside-logo(href='index.html')
    img(src="assets/images/logo-cvx.png")
    | ConvX
  //- a
  .user-menu
    span.hi
      img(src="//via.placeholder.com/40")
      span Hi&nbsp;
      span User!
      //- .pull-right
      //-   a.drpdown(href='#userDropdown', data-toggle='collapse')
      //-     i.fa.fa-angle-down
      //-   //- a
      //- //- pull-right
      //- .clearfix
      //- #userDropdown.collapse
      //-   nav
      //-     ul
      //-       li
      //-         a(href="user-settings-uac.html") Account Settings
      //-       //- li
      //-     //- ul
      //-   //- nav
      //- //- collapsed
      //- .clearfix
    //- span
  //- user-menu
  nav
    ul
      li
        a(href="user-dashboard.html") Dashboard
      //- li
      li
        a(href="user-account-mp.html") My Account
      //- li
    //- ul
  //- nav
  br
  .input-group
    input.form-control(placeholder='Search...')
    span.input-group-btn
      button.btn.btn-default(type='button')
        i.fa.fa-search
      //- button
    //- span
  //- input-group
//- aside
